/* Universal Styles */

html {
  font-size: 18px;
}

body {
  font-family: "Helvetica", sans-serif;
  line-height: 1.4rem;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: white;
}

/* Company Header and Navigatin Menu */

header {
  background: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 30rem;
  padding-top: 1rem;
}

nav img {
  height: 1.5rem;
  padding: 0 1rem 0 2rem;
}

nav {
  background-color: cadetblue;
  color: white;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  align-items: center;
}

.menu ul.truncated-menu {
  display: none;
}

nav ul {
  margin-right: 1rem;
}

nav li {
  display: inline;
  padding: 0 1rem;
}

.main-banner {
  display: inline-block;
  margin-top: 10rem;
  margin-right: -2rem;
  background-color: white;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  padding: 1.5rem 5rem;
}

.flex {
  display: flex;
}

header .flex {
  justify-content: flex-end;
}

/*  Service Menu  */

.supporting {
  display: flex;
  justify-content: center;
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 5rem;
  height: 8rem;
  margin: 3rem;
  text-align: center;
}

.service img {
  width: 5rem;
  margin-bottom: 1rem;
}

.service img.paper-icon {
  width: 3.5rem;
}


/* Business Info */


.description {
  display: block;
  text-align: center;
  padding-top: 1.5rem;
}

.business-container {
  display: flex;
  justify-content: center;
}

.info {
  display: block;
  width: 35%;
  margin: 0 2.5rem 0 2.5rem;
}

.title {
  background-color: cadetblue;
  color: white;
  display: flex;
  width: 10rem;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem 0 0.5rem 1.25rem;
  margin: 0 0 1rem 0;
}

/* Footer */

footer .container {
display: flex;
background-color: azure;
padding: 4rem 1rem 4rem 4rem;
margin-top: 5rem;
}

footer img {
  height: 1.5rem;
  padding: 0 1rem 0 0;
}

/* Media Query */

@media only screen and (max-width: 1024px) {
  header {
    height: 22rem;
    padding-top: 0;
  }

  nav.container {
    max-width: 100%;
  }

  .main-banner {
    margin-top: 5rem;
    margin-right: 2rem;
  }

  h1 {
    font-size: 1.33rem;
    padding: 0.75rem 4rem;
  }

}

@media only screen and (max-width: 768px) {
  .menu ul {
    display: none;
  }

  .menu ul.truncated-menu {
    display: block;
  }
}

@media only screen and (max-width: 400px) {
  header {
    height: 17rem;
    background-position: 20%;
  }

  .main-banner {
    width: 100%;
    margin: 9rem auto 0 auto;
    background-color: white;
  }

  h1 {
    font-size: 1rem;
    text-align: center;
    padding: 1rem 0;
  }

  nav span {
    display: none;
  }

  .supporting {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 3.77rem 0;
  }

  .service {
    height: auto;
    margin: 1.54rem;
    font-size: 0.77rem;
  }

  .info {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .info .title {
    width: 100%;
    max-width: none;
    margin-right: 0;
    text-align: center;
  }

  .info p {
    padding: 1rem;
    font-size: .77rem;
  }

  footer {
    justify-content: center;
  }

  footer span {
    display: none;
  }

}
